body{
 margin:0px;
 padding:0px;
background-color:#ebf5fb;
font-family:calibri;
}

*{
 margin:0px;
 padding:0px;
}

#wrapper{
   background-color:#fff;
   border:1px solid #40ff00;
  max-width:1100px;
  margin:auto;

}
ul{
  list-style:none;
  padding:0px;
  margin:0px;
  overflow:hidden;
  background-color:#333;
  width:100%;
  position:sticky;
  top:0;
}

ul li {
 float:left;
}
ul li a{
  display:block;
  color:#fff;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-family:Verdana;
}
li a:hover{
  background-color:#40ff00;
  color:#000;
}

  ul li a.active{
 background-color:#40ff00;
}
ul li.right
{
float:right;
}

#banner{
   clear:both;
   float:left;
   width:100%;
}
#banner img{
  width:100%;
}
#contentarea{
background:#fff;
  clear:both;
  float:left;
  width:100%;
  margin-top:0px;
}
#contentarea #leftside{
  float:left;
  width:70%
}

#contentarea #leftside h2{
  background:#40ff00;
  width:100%;
  color:#fff;
  text-align:center;
}
#contentarea #rightside {
  float:right;
  width:26%;
  margin-right:20px;
}
#contentarea #rightside h2 {
  width:100%;
  color:#40ff00;
  text-align:center;
  }
#footer{
  margin-left:20px;
  clear:both;
  float:left;
  width:100%;
  height:30px;
  line-height:30px;
  color:#fff;
  background:#000;
  text-align:center;
  margin-top:20px;
}
p{text-align:justify;
padding:10px;
 margin-bottom:10px
}
/* About.php */
.content{
background:#f1f1f1;
  clear:both;
  float:left;
  width:100%;
  margin-top:0px;
  border-bottom:1px dotted green;
}
 .left{ float:left;  width:28%; padding:10px; height:250px;}
.right{float:right; width:67%; height:250px;  padding-top:30px;}
h3{
  color:#40ff00;
  font-size:25px;
}
h3 a{
 text-decoration:none;
}
p a {
   text-decoration:none;
}
h4 a{
 text-decoration:none;
}

/* home.php*/
.font{
  font-size:50px;
  color:#40ff00;
}
.scondleft{ float:left; width:58%; padding:10px; height:200px;}
.scondright{float:right; width:38%; height:200px; padding-top:40px; 
      margin-top:5px;}
   .text{
     font-family:calgiri;
	 font-size:18px;
	 color:maroon;
	 text-align:justify; 
   }
  .image{
   background:#fff;
	  padding-top:20px;
	  padding-left:40px;
	  background:#fff;
   }
   #img1{
     margin:20px;
	 border-radius:100px;
	 height:170px;
		width:170px;
  } 
		
	  
@media screen and (max-width:720px)
{
ul li.right, ul li
{
float:none;
}
p{text-align:justify;}
#banner{
   clear:both;
   float:left;
   width:100%;
}
#banner img{
  width:100%;
}
#contentarea{
  clear:both;
  float:none;
  width:100%;
  margin-top:20px;
}
#contentarea #leftside{
  float:none;
  width:100%;
   
}
#contentarea #leftside  h2{
  background:#4ff000;
  width:100%;
  color:#fff;
  text-align:center;
}
#contentarea #rightside {
  float:none;
  width:100%;
  margin-right:10px;
}
#contentarea #rightside h2 {
background:#4ff000;
  width:100%;
  color:#fff;
  text-align:center;
 }

#footer{
  clear:both;
  float:none;
  width:100%;
  height:30px;
  line-height:30px;
  color:#fff;
  background:#000;
  text-align:center;
  
}
  /* About.php */
.content{
background:#f1f1f1;
  clear:both;
  float:left;
  width:100%;
  margin-top:0px;
}
 .left{ float:none;  width:100%; padding:10px; height:100%;}
.right{float:right; width:100%; height:100%; padding:5px; border-bottom:2px dotted #40ff00;  
       margin-top:5px;}
h3{
  color:#40ff00;
  text-align:center;
}
.left img{float:center;}

/* home.php*/
 .font {font-size:25px;
  color:#40ff00;
}
.scondleft{ float:none; width:100%; padding:5px; height:100%; margin-top:60px; padding-top:60px;}
.scondright{float:none; width:100%; height:100%; padding:10px; padding-top:60px; margin-top:40px;} 
      
  .image{
   background:#fff;
	  padding-top:4px;
	  padding-left:3px;
   }
   #img1{
     margin-top:5px;
	 border-radius:100px;
	float:center;
  } 
}

