body
{
background-image:url('Images/pict.jpg');
 padding:0;
 margin:0;
}
header{
 width:100%;
 height:150;
 background-color:#FF9966;
 color:#fff;
 text-align:center;
 padding-top:50px;
 border-bottom:1px solid blue;
}
header h a {
color:#fff; text-decoration:none;
}
header div #logo{
 float:left;
}
aside{
 float:left;
 width:200px;
 height:600px;
 border-right:1px solid blue;
}
aside a :link, a :visited{
color:blue;
font-family:comic sans MS;
}

article {
 margin-top:10px;
}